<%- layout ('layouts/boilerplate')%>
<div class="row">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading"><%=err.message%></h4>
            <p><%= err.stack %></p>
          </div>
</div>
